<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DemoApp2</title>
    <style>
        body {
            background-image: url(https://t3.ftcdn.net/jpg/05/79/48/52/240_F_579485255_hzHox0stuQmBx5QViwnQqQjk7RD2AJza.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            overflow: hidden;
            height: 100vh;
            text-align: center;
            background-color: rgba(255, 247, 247, 0.8); 
            padding: 20px;
        }

        h1 {
            color: #0074d9; 
            text-decoration: underline;
            text-align: center;
        }

        p {
            text-align: center;
            color: #333;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px; 
            border-radius: 10px; 
        }

        .button {
            display: inline-block;
            background-color: #0074d9;
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 18px;
            border: none;
            border-radius: 5px; 
            cursor: pointer;
            margin: 10px; 
            transition: background-color 0.3s ease; 
        }

        .button:hover {
            background-color: #0056a6; 
        }
    </style>
</head>
<body>
    <h1>Welcome to Microsoft </h1>
    
    <p>
        This is a simple web page with buttons to navigate.
    </p>

    <a href="/Home/Depart" class="button">Department</a>
    <a href="/Home/Employee" class="button">Employee</a>
</body>
</html>
