@model DempApp2.Model.Emp
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5; /* Light gray background */
            margin: 10px;
            padding: 10px;
        }

        h1 {
            color: #333;
            text-decoration: underline;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff; /* White background */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #0074d9; /* Blue submit button */
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            padding: 12px; /* Adjusted padding for a larger button */
            font-size: 16px; /* Adjusted font size */
        }

        input[type="submit"]:hover {
            background-color: #0056a6; /* Darker color on hover */
        }
    </style>
</head>
<body>
    <h1>UPDATE EMPLOYEE SALARY</h1>
    <form method="post">
        <label for="Id">Employee No</label>
        @Html.TextBoxFor(entry => entry.Id)

        <label for="esal">Employee Salary</label>
        @Html.TextBoxFor(entry => entry.esal)

        <input type="submit" value="Update"/>
    </form>
</body>
</html>
